<!DOCTYPE html>
<html>

<head>
    <title>Breakneck</title>

    <%= stylesheet_link_tag "/lib/codemirror/lib/codemirror" %>
    <%= stylesheet_link_tag "/lib/codemirror/theme/solarized" %>
    <%= javascript_include_tag "/lib/codemirror/lib/codemirror" %>
    <%= javascript_include_tag "/lib/codemirror/mode/javascript/javascript" %>
    <%= javascript_include_tag "common" %>

    <style type="text/css">
      #left {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 50%;
      }

      #right {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        right: 0;
      }

      .CodeMirror, iframe {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;

        font-family: Consolas, Inconsolata, monospace;
      }

      iframe {
        border: none;
      }
    </style>

    <script type="text/javascript">
      function debounce(delay, fn) {
        var timeout;

        return function() {
          if (timeout) {
            clearTimeout(timeout);
          }

          timeout = setTimeout(fn, delay);
        };
      }

      window.addEventListener('load', function() {
        var editor = CodeMirror.fromTextArea(document.querySelector('#left textarea'), {
          mode: 'javascript',
          theme: 'solarized dark',
          lineNumbers: true
        });

        makeGetRequest('/example2.js', function(content) {
          editor.setValue(content);
        });

        var output = document.querySelector('#right iframe');
        editor.on('change', debounce(500, function() {
          output.contentWindow.postMessage(editor.getValue(), '*');
        }));
      });
    </script>
</head>

<body>
    <div id="left">
        <textarea></textarea>
    </div>

    <div id="right">
        <iframe src="output.html" />
    </div>
</body>

</html>
