<!DOCTYPE html>
<html>

<head>
    <%= stylesheet_link_tag "/lib/codemirror/lib/codemirror" %>
    <%= stylesheet_link_tag "/lib/codemirror/theme/solarized" %>
    <%= javascript_include_tag "/lib/codemirror/lib/codemirror" %>
    <%= javascript_include_tag "/lib/codemirror/mode/javascript/javascript" %>
    <%= javascript_include_tag "/lib/lazy.js/lazy" %>
    <%= javascript_include_tag "/lib/mustache/mustache" %>
    <%= javascript_include_tag "common" %>

    <style type="text/css">
      body {
        padding: 10px;
      }

      table {
        width: 100%;
        border-collapse: collapse;
      }

      th, td {
        padding: 1ex 20px;
        font-family: sans-serif;
        text-align: left;
        vertical-align: top;
        width: 25%;
      }

      th {
        border-bottom: 2px solid black;
      }

      tr.failed td:first-child {
        border-left: 5px solid #f00;
        padding-left: 15px;
      }

      tr.passed td:first-child {
        border-left: 5px solid #080;
        padding-left: 15px;
      }

      th:last-child, td:last-child {
        width: 50%;
      }

      td:nth-child(1), td:nth-child(2) {
        font-family: Consolas, Inconsolata, monospace;
      }

      tr:nth-child(even) {
        background-color: #eee;
      }

      .CodeMirror, iframe {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
      }

      footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0 1em;
        font-family: sans-serif;
        color: #fff;
        line-height: 40px;
        z-index: 10;
      }

      footer:before {
        content: "";
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 40px;
        background-color: #000;
        opacity: 0.75;
        z-index: -1;
      }
    </style>

    <script type="text/javascript">
      window.addEventListener('load', function() {
        var sections      = document.querySelectorAll('section'),
            checkboxes    = document.querySelectorAll('footer input[type="checkbox"]'),
            astCheckBox   = document.querySelector('input[name="ast"]'),
            docsCheckBox  = document.querySelector('input[name="docs"]');

        // The CodeMirror instance where we'll display the AST.
        var astEditor = CodeMirror.fromTextArea(document.querySelector('#ast textarea'), {
          mode: 'javascript',
          theme: 'solarized light',
          lineNumbers: true,
          readOnly: true
        });

        // The iframe where we'll display the full documentation.
        var docsFrame = document.querySelector('#docs iframe'),
            parentDoc = document;

        var latestResult,
            docsTemplate;

        function updateAST(data) {
          var parser = new Worker('/javascripts/parser.js');

          parser.addEventListener('message', function(e) {
            astEditor.setValue(e.data);
          });

          parser.postMessage(data);
        }

        function updateDocs(data) {
          var generator = new Worker('/javascripts/generator.js');

          generator.addEventListener('message', function(e) {
            // Replace the iframe.
            docsFrame.parentNode.replaceChild(parentDoc.createElement('IFRAME'), docsFrame);
            docsFrame = parentDoc.querySelector('#docs iframe');

            var documentation = JSON.parse(e.data),
                frameDoc      = docsFrame.contentWindow.document,
                frameSrc      = Mustache.render(docsTemplate, documentation);

            frameDoc.open();
            frameDoc.write(frameSrc);
            frameDoc.close();
          });

          generator.postMessage(data);
        }

        function showingAST() {
          return astCheckBox.checked;
        }

        function showingDocs() {
          return docsCheckBox.checked;
        }

        function showSection(name) {
          for (var i = 0; i < sections.length; ++i) {
            if (sections[i].id === name) {
              sections[i].style.display = 'block';
            } else {
              sections[i].style.display = 'none';
            }
          }
        }

        function updateCurrentSection() {
          if (showingAST()) {
            updateAST(latestResult);

          } else if (showingDocs()) {
            updateDocs(latestResult);
          }
        }

        for (var i = 0; i < checkboxes.length; ++i) {
          checkboxes[i].addEventListener('change', function(e) {
            for (var j = 0; j < checkboxes.length; ++j) {
              if (checkboxes[j] !== e.target) {
                checkboxes[j].checked = false;
              }
            }

            showSection(e.target.name);
            updateCurrentSection();
          });
        }

        window.addEventListener('message', function(e) {
          if (e.origin === window.location.origin) {
            latestResult = e.data;
            updateCurrentSection();
          }
        });

        showSection('docs');

        makeGetRequest('/docs.html.mustache', function(html) {
          docsTemplate = html;
        });
      });
    </script>
</head>

<body>
    <section id="ast">
        <textarea></textarea>
    </section>

    <section id="docs">
        <iframe></iframe>
    </section>

    <!-- Not implemented yet -->
    <footer>
        <label>Show me:</label>
        <label><input type="checkbox" name="ast" /> AST</label>
        <label><input type="checkbox" name="docs" checked="checked" /> Full Docs</label>
    </footer>
</body>

</html>
